.App {
  text-align: center;
}

.Chris-photo {
  width: 65%;
  border-radius: 50px;
  margin-bottom: 40px;
}

.App-header {
  background-image: url("/src/images/home-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header nav {
  margin-right: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

header nav ul {
  display: flex;
}
header nav li {
  margin: 0 10px;
  position: relative;
  line-height: 24px;
  display: block;
}
header nav a {
  font-family: 'Josefin Sans', sans-serif;
  color: #324360;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  text-decoration: none;
}

header nav a:hover{
  color: #956FF1;
}

.App p{
  max-width: 80%;
}

/*About Styles*/

.about .App-header {
  background-color: white!important;
  background-image: none!important;
  font-size: 20px;
}

.about p{
  color: black;
  max-width: 75%;
}

.App-link {
  color: #61dafb;
}

/*Projects Styles*/
.projects .App-header{
  background-image: none;
}

.projects a{
  text-decoration: none;
}

.projects a:hover{
  opacity: 80%;
}

.Project-section{
  width: 80%;
  margin-bottom: 50px;
}

.Project-section h2{
  color: black;
  padding-top: 400px;
  padding-bottom: 400px;
  font-size: 40px;
  text-shadow: white -2px 2px;
  margin: 0 auto;
  text-align: center!important;
}

.A{
  background-image: url("/src/images/project-covers/project-a.jpg") !important;
  background-position: center;
  background-size: cover;
}

.B{
  background-image: url("/src/images/project-covers/project-bb.jpg") !important;
  background-position: center;
  background-size: cover;
}

.C{
  background-image: url("/src/images/project-covers/project-c.jpg") !important;
  background-position: center;
  background-size: cover;
}

/*Contact Styles*/

.contact .App-header{
  background-color: #030303;
  background-image: none;
}

.contact .Call-gif{
  max-width: 50%;
  margin-bottom: 50px;
}

.contact p{
  max-width: 60%;
}

#bull{
  display: none;
}

/*Projects*/

.Thanks{
  text-align: center;
  margin: 0 auto;
  color: #956FF1;
  margin-bottom: 100px;
}

.Categories ul{
  justify-content: center;
  margin: 50px auto 100px;
  padding: 0;
}

.Categories li{
  margin: 20px 10px;
  padding: 15px 30px;
  display: block;
  text-align: center;
}

.P-button{
  background-color: lightblue;
  color: white!important;
  }

@media only screen and (min-width: 650px) {

/* Menu Styles for Desktop */

header nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.Chris-photo {
  width: 25%;
  border-radius: 50px;
  margin-bottom: 40px;
}

.Project-section h2{
  font-size: 50px;
}

/*Projects*/
.Project-section h2{
  padding: 250px;
}

.Categories ul{
  justify-content: center;
  margin: 50px auto 0;
  display: flex;
}

.Categories li{
  margin: 0 50px;
  padding: 15px 20px;
  display: block;
}

/*Contact Styles*/

.contact .App-header{
  background-color: #030303;
  background-image: none;
}

.contact .Call-gif{
  max-width: 15%;
}

#bull{
  display: block;
}

}